*{
    margin: 0;
    border: 1px solid black;
}

html{


}

body{
 font-family: Roboto;
}

.mainContainer{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(9, 1fr);
    gap: 15px;
    
    
    
}

.sidebarContainer{
    display: grid;
    grid-template-rows: 1fr 13fr;
    grid-row: 1/11;
    padding-left: 15px;
    background-color: blanchedalmond;
}



.branding{
    display: flex;
    height: 5vh;
    align-items: center;
    font-weight: bolder;
    font-size: 1.5rem;
}

.dashboard{
    height: 3vh;
    align-items: center;
}

.navigation{
    display: flex;
    flex-direction: column;
    gap: 5px;
    grid-row: 2/9;
}

.navItem{
    padding: 0.2rem;
}

.headerContainer{
    display: grid;
    grid-row: 1/2; 
    
}

h1{
    font-size: 1.3rem;
}

h3{
    font-size: 0.8rem;
}

.upperHeader{
    display: flex;
    height: 4.5vh;
    align-items: center;
}

.searchBar{
    height: 2.5vh;
    margin-right: auto;
}

.charIconSmall{
    height: 2.5vh;
}

.userName{
    font-weight: bold;
}

.lowerHeader{
    display: flex;
    height: 4.5vh;
    align-items: center;
}

.charIcon1{
    height: 4.5vh;
}

.introduction{
    margin-right: auto;
}

button{
    border-radius: 8px;
}

.menuContainer{
    display: flex;
    gap: 5px;
    margin-right: 5px;
}

.contentContainer{
    display: grid;
    grid-column: 2/3;
    grid-row: 2/9;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
    padding-right: 15px;
}

.contentLabel1{
    align-content: center;
    font-weight: bold;
}

.projects{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    grid-row:2/11;
    gap: 15px;
    align-content:space-between;
}

.projects .card{
    height: 220px;
}

.contentLabel2{
    align-content: center;
    font-weight: bold;
}

.announcements{
    grid-column: 2/3;
    grid-row: 2/6;
}

.contentLabel3{
    align-self:self-end;
    font-weight: bold;
}

.trending{
    grid-column: 2/3;
    grid-row: 7/11;
}